.footer {
    background-color: #2F303A;
    padding-bottom: 60px;
}

.footer-list-all {
    display: flex;
}

.footer-address {
    font-style: normal;
}

.footer-contakty {
    margin-right: 70px;
    padding-top: 60px;
}

.footer-soc {
    padding-top: 72px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    @include fonts(700, 26px, 31px, 0.03em);
    color: #FFFFFF;
}

.footer-link,
.footer-tel,
.footer-mail {
    @include fonts(null, 14px, 16px, 0.03em);
}

.footer-tel,
.footer-mail {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link {
    color: #FFFFFF;
}

.footer-list {
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-soc-list {
    display: flex;
}

.footer-title-soc {
    @include fonts(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    @include center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:focus,
            &:hover {
                background-color: var(--color-aktive);
                cursor: pointer;
                    .team-soc-icon,
                    .team-soc-icon {
                        fill: #ffffff;
                    }
            }
}

.footer-soc-icon {
    fill: #ffffff;
}


