.footer>.container {
    display: flex;
    justify-content: space-between;
}

.footer-title-subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-subscribe {
    padding-top: 72px;
}

.form-subscribe-email {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: #FFFFFF;
        &::placeholder {
            font-size: 16px;
            line-height: calc(20 / 16);
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}
.form-subscribe-btn {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    border-radius: 4px;
    text-align: left;
    padding-left: 28px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--color-aktive);
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
                background: #188CE8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
            }
}
.icon-telegram-btn {
    position: absolute;
    fill: #ffffff;
    top: 50%;
    right: 0%;
    transform: translate(-100%, -50%);
}